# Allowlisting gitignore template for GO projects prevents us
# from adding various unwanted local files, such as generated
# files, developer configurations or IDE-specific files etc.
#
# Recommended: Go.AllowList.gitignore

# Ignore everything
*

# But not these files...
!.gitignore
!.editorconfig
!.gitattributes
!.dockerignore

!*.go
!go.sum
!go.mod
!buf.lock

!*.md
!*.txt
!*.json
!*.yaml
!*.proto
!Dockerfile
!Makefile
!LICENSE

# ...even if they are in subdirectories
!*/

# But ignore these directories
gen/
vendor/
